dask-worker-space
.ipynb_checkpoints
san_joaquin*
stderr.out
.secrets
*.svg
*.png
*.nc
*~
ignored/*
imerg*.h5
tmp.h5
g10.h5
lon256_lat256.h5
composite.h5
conus-roi.h5
d.h5
d1.h5
pytables-5njvjebf.tmp
pytables-7ryrjjc7.tmp
pytables-brx0mp5q.tmp
pytables-emop0khe.tmp
tl_2019_us_state.zip
tl_2019_us_state.zip.1
